.aboutme {
  background: #202020;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 110px;
  padding-bottom: 125px;
}

.aboutme__title {
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  margin: 0;
  margin-bottom: 66px;
}

.aboutme__container {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
}

.aboutme__container-info {
  max-width: 600px;
  color: #FFF;
}

.aboutme__container-title {
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  margin-bottom: 18px;
}

.aboutme__container-work {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  margin-bottom: 26px;
}

.aboutme__container-text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 99px;
}

.aboutme__container-photo {
  object-fit: cover;
  width: 270px;
  height: 327px;
}

.aboutme__container-portfolio {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.porfolio__title {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  max-width: 600px;
}

.portfolio__works {
  padding: 0;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .aboutme {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .aboutme__container-photo {
    width: 255px;
    height: 307px;
  }

  .aboutme__container-title {
    font-size: 40px;
  }

  .aboutme__container-work {
    font-size: 12px;
    max-width: 348px;
  }

  .aboutme__container-text {
    font-size: 12px;
    max-width: 350px;
  }
}

@media (max-width: 700px) {
  .aboutme__container {
    flex-direction: column-reverse;
  }
  
}

@media (max-width: 320px) {
  .aboutme {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .aboutme__container {
    flex-direction: column-reverse;
  }
  
  .aboutme__container-photo {
    width: 292px;
    height: 352px;
  }

  .aboutme__container-title {
    font-size: 30px;
    max-width: 292px;
  }

  .aboutme__container-work {
    font-size: 11px;
    max-width: 292px;
  }

  .aboutme__container-text {
    font-size: 11px;
    max-width: 292px;
    line-height: 1.5;
  }
}