.navtab {
  margin: 0 auto;
  max-width: 308px;
}

.navtab__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 151px;
}

.navtab__url {
  text-decoration: none;
  cursor: pointer;
  width: 96px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #303030; 
  transition: background-color 0.5s ease; 
}

.navtab__name {
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #303030; 
  transition: background-color 0.5s ease; 
  padding: 10px 0px 10px 0;
  width: 96px;
}

.navtab__name:hover {
  background-color: rgba(255, 255, 255, .2)
}

@media (max-width: 768px) {
  .navtab__container {
    margin-top: 314px;
  }
}

@media (max-width: 500px) {
  .navtab__container {
    margin-top: 212px;
    gap: 6px;
  }
  
  .navtab__name {
    font-size: 10px;
    margin-top: 5px;
  }

  .navtab__btn {
    width: 82px;
    height: 26px;
    border-radius: 6px;
  }
}